node_modules/
.codex_tmp/
.sfdx/
.sf/
.vscode/
*.log
AWS/*.pdf
!AWS/documentation/NativeForms_HTML_V1_Guide_v3.pdf
!AWS/documentation/NativeForms_Prefill_PDG_v2.pdf
!AWS/documentation/Security Protocols.pdf
!AWS/documentation/Tasks for later.pdf
